.section-flowershows {
  padding: 6.4rem 0 12.8rem 0;
}

.page-sections {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 4.8rem;
}

.information-section {
  flex: 3;
}

.view-section {
  flex: 7;
}

.flowershow-description {
  /* width: 80rem; */
  font-size: 1.8rem;
  color: #808080;
  line-height: 1.6;
  font-weight: 400;
  margin-top: 1.6rem;
  margin-bottom: 4.8rem;
}

.flowershow-nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-bottom: 1.6rem;
}

.flowershow-btn,
.flowershow-btn:visited {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #f6f6f6;
  border-radius: 5px;
  display: inline-block;
  padding: 1.2rem 3.5rem;
  text-decoration: none;
  color: #505050;
}

.flowershow-btn:hover,
.flowershow-btn:active {
  background-color: #568f4a;
  color: #fff;
}

.each-flowershow-description {
  font-size: 1.6rem;
  color: #808080;
  line-height: 1.6;
  font-weight: 400;
}

.flowershow-description-box {
  margin-bottom: 9.6rem;
}

.rules-link {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  bottom: 3.5rem;
}
.custom-link div {
  margin-bottom: 1.2rem;
}

.rules-link li .custom-link:link,
.rules-link li .custom-link:visited {
  font-size: 1.6rem;
  color: #65305e;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.rules-link li .custom-link:hover,
.rules-link li .custom-link:active {
  color: #8f4b88;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}
