/* 

----01 Typoreaphy system

-FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font weight:
default: 400
medium: 500
semi-bold: 600
bold: 700

-Line height:
default: 1
small: 1.05
medium: 1.2
paragraph default: 1.6
large: 1.8

- Letter spacing
-0.5px
0.75px


-----02 Colors
  색상 정할 떄: tint and shade generator 사이트 이용 
-Primary:
#fff
#65305E
#8F4B88
#a56fa0
#D785C8
#568F4A
#78a56e
#9abc92
#d1c1cf
#e0d6df
#f0eaef

-Tints:

-Shade:


-Accents:
-Greys:
#f6f6f6
#808080
#505050
#333333

------03 Shadows
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

------04 border_radius

Default:9px
Medium: 11px;

------05 white space

-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px;
      10px / 16px = 0.625 =62.5%
      Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #454545;
  /* Only works if there is nothing absolutely positiond in relation to body */
  overflow-x: hidden;
}

/* **************************************** */
/*  Generl Reuseable Components */
/* **************************************** */
.container {
  /* 보통 1140px이나 1200px을 width로 설정. jonas는 1200px 선호 */
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.breadcrumb {
  background-color: #f6f6f6;
  padding: 1rem 2rem;
  border-radius: 5px;
  display: inline-block;

  margin-bottom: 3.2rem;
}

.breadcrumb ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 0;
}
.breadcrumb ul li {
  margin: 0;
}

.breadcrumb-link {
  font-size: 1.3rem;
  color: #454545;
  text-decoration: none;
}

.breadcrumb li:not(:first-child)::before {
  content: "〉";
  font-size: 1.2rem;
  display: inline-block;
  margin: 0 0.5rem 0 1rem;
}

.heading-primary {
  font-size: 6rem;
  font-weight: 700;
  color: #333333;
  width: 60rem;
  line-height: 1.4;
}

.heading-description {
  width: 80rem;
  font-size: 1.8rem;
  color: #808080;
  line-height: 1.6;
  font-weight: 400;
  margin-top: 1.6rem;
  margin-bottom: 4.8rem;
}

.grid {
  display: grid;
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3.2rem;
  row-gap: 4.8rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
}

.pagination {
  margin-top: 8rem;
}

.page-item {
  list-style: none;
}

.page-link:link,
.page-link:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #454545;
  text-decoration: none;
  transition: all 0.2s;
}

.page-link:hover,
.page-link:active {
  color: #d785c8;
}
