.section-meeting-details {
  padding: 6.4rem 0 12.8rem 0;
}

.heading-meeting-details {
  font-size: 6rem;
  font-weight: 700;
  color: #333333;
  width: 60rem;
  line-height: 1.4;
  margin-bottom: 4.8rem;
}

.meeting-detail-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 4.8rem;
}

.meeting-detail {
  font-size: 1.8rem;
  color: #808080;
  line-height: 1.6;
  font-weight: 400;
  display: flex;
  /* padding: 0 12.8rem 0 0; */
}
.icon-meeting-detail {
  margin-right: 1.2rem;
}

.meeting-detail-title {
  color: #333333;
  font-weight: 600;
}

.meeting-description {
  font-size: 1.8rem;
  color: #808080;
  line-height: 1.6;
  font-weight: 400;
  /* padding: 0 8rem; */
  margin-bottom: 9.6rem;
}

.attatch-file-box {
  padding: 2rem;
  background-color: #f6f6f6;
  border-radius: 5px;
  margin-bottom: 2.4rem;
}

.attatch-file-wrap {
  display: flex;
  align-items: center;
}

.attatch-file-name {
  font-size: 1.8rem;
  color: #808080;
  line-height: 1.6;
  font-weight: 400;
  text-decoration: none;
  margin-left: 1.5rem;
}

/* .navigatepage-box {
  border: 1px solid #808080;
} */

/* .navigatepage-box :not(:last-child) {
  border-bottom: 1px solid #808080;
} */
.navigatepage-box {
  border-top: 1.8px solid #cbcbcb;
  border-bottom: 1.8px solid #cbcbcb;
  margin-bottom: 4.8rem;
}
.navigatepage-wrap {
  display: flex;
  font-size: 1.8rem;
  color: #808080;
  line-height: 1.6;
  font-weight: 400;
  padding: 1.5rem;
}

.navigatepage-box .navigatepage-wrap:last-child {
  border-top: 1.8px solid #cbcbcb;
}

.next,
.previous {
  font-size: 1.8rem;
  color: #333333;
  line-height: 1.6;
  font-weight: 600;
  padding-left: 4.8rem;
  width: 20rem;
}
.list-btn-box {
  display: flex;
  justify-content: center;
}

.list-btn:link,
.list-btn:visited {
  padding: 1.2rem 3.5rem;
  border-radius: 5px;
  color: #fff;
  background-color: #568f4a;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
}

.list-btn:hover,
.list-btn:active {
  background-color: #78a56e;
}
