.section-meetingspage {
  padding: 6.4rem 0 12.8rem 0;
}

.heading-meetings {
  font-size: 6rem;
  font-weight: 700;
  color: #333333;
  width: 80rem;
  line-height: 1.4;
  margin-bottom: 4.8rem;
}

.meeting-card {
  width: 100%;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.meeting-img {
  width: 100%;
  height: 18rem;
}

.meeting-content {
  background-color: #9abc92;
  padding: 3.5rem 3rem;
  height: 23.7rem;
  position: relative;
}

.meeting-subtitle {
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.meeting-title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
  line-height: 1.2;
}

.meeting-date {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 3.2rem;
}

.meeting-link:link,
.meeting-link:visited {
  font-size: 1.6rem;
  color: #65305e;
  text-decoration: none;
  font-weight: 800;
  position: absolute;
  bottom: 3.5rem;
}

.meeting-link:hover,
.meeting-link:active {
  color: #8f4b88;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}
