.section-newsletter {
    padding: 9.6rem 0;
}

.news-page-container {
    font-family: "Inter", sans-serif;
    display: flex;
    height: 85.5vh;
}

.heading-newsletter {
  font-size: 6rem;
  font-weight: 700;
  color: #333333;
  width: 60rem;
  line-height: 1.4;
  margin-bottom: 4.8rem;
}

table {
  width: 100%;
  font-size: 1.6rem;
  border-collapse: collapse;
  margin-bottom: 4.8rem;
}

thead tr th {
  background-color: #f9f9f9;
  font-weight: 500;
  padding: 1.3rem 0;
  border-top: 1.2px solid rgb(227, 227, 227);
  border-bottom: 1.2px solid rgb(227, 227, 227);
}

tbody {
  text-align: center;
  padding: 1.2rem;
}

tbody tr td {
  font-weight: 400;
  padding: 1.3rem 0;

  /* border: 1px solid rgb(147, 147, 147); */
}

tbody:last-child {
  border-bottom: 1.2px solid rgb(227, 227, 227);
}

ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

ul li {
  font-size: 1.6rem;
  color: #333333;
  list-style: none;
}

.arrow-btn {
  font-size: 1.6rem;
  color: #333333;
}
.news-main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f8f9fa;
}
.news-sidebar {
    width: 30rem;
    background-color: #f8f9fa;
    color: white;
    padding: 40px;
}

.news-sidebar-title {
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.news-sidebar-user {
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.news-sidebar-nav {
    margin-top: 20px;
}

.news-sidebar-menu {
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

    .news-sidebar-menu li a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px;
        transition: background-color 0.3s;
    }

        .news-sidebar-menu li a:hover {
            opacity: 0.30;
            cursor: pointer;
        }