.section-newsletter {
  padding: 6.4rem 0 12.8rem 0;
}
.heading-newsletter {
  font-size: 6rem;
  font-weight: 700;
  color: #333333;
  width: 60rem;
  line-height: 1.4;
  margin-bottom: 4.8rem;
}

table {
  width: 100%;
  font-size: 1.6rem;
  border-collapse: collapse;
  margin-bottom: 4.8rem;
}

thead tr th {
  background-color: #f9f9f9;
  font-weight: 500;
  padding: 1.3rem 0;
  border-top: 1.2px solid rgb(227, 227, 227);
  border-bottom: 1.2px solid rgb(227, 227, 227);
}

tbody {
  text-align: center;
  padding: 1.2rem;
}

tbody tr td {
  font-weight: 400;
  padding: 1.3rem 0;

  /* border: 1px solid rgb(147, 147, 147); */
}

tbody:last-child {
  border-bottom: 1.2px solid rgb(227, 227, 227);
}

ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

ul li {
  font-size: 1.6rem;
  color: #333333;
  list-style: none;
}

.arrow-btn {
  font-size: 1.6rem;
  color: #333333;
}
