/* **************************************** */
/*  Header */
/* **************************************** */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want head to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}
.logo {
  height: 9rem;
}

/* **************************************** */
/*  navigation */
/* **************************************** */
/* .main-nav {
    display: inline-block;
    align-items: center;
    height: 12rem;
  } */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #333333;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #6f6f6f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1rem 2.8rem;
  border-radius: 5px;
  color: #fff;
  background-color: #8f4b88;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #a56fa0;
}

/* **************************************** */
/*  Hero Section */
/* **************************************** */

.hero {
  background-color: #568f4a;
  position: relative;
}

.hero-img {
  background-image: url("src/img/gardening-main.jpg");
  position: absolute;
  left: 0;
  right: 50%;
  max-width: 102rem;
  height: 100%;
}

.hero-container {
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 3rem;
  width: 100%;
  /* max-width: 180rem; */
}

.hero-content-box {
  margin-left: 50%;
  padding-left: 9.6rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

.hero-content {
  max-width: 50rem;
  margin: 12.8rem 0;
}

.learn-more-link:link,
.learn-more-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  color: #65305e;
}

.learn-more-link:hover,
.learn-more-link:active {
  color: #8f4b88;
}

.hero-heading {
  color: #fff;
}

.hero-heading span {
  font-weight: 400;
}

.hero-description {
  width: 60rem;
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  color: #fff;
  margin: 3rem 0;
}
/* **************************************** */
/*  Meeting Section */
/* **************************************** */
.section-meetings {
  padding: 9.6rem 0;
}

/* **************************************** */
/*  Contacts Section */
/* **************************************** */
.section-contacts {
  padding: 9.6rem 0;
}

.contact-info-box {
  padding: 4.8rem 0 0 0;
}

.contact-subtitle {
  font-size: 3rem;
  color: #333333;
  margin-bottom: 3.2rem;
}

.addres-wrap,
.email-wrap {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 1.2rem;
  line-height: 1.6;
}

.addres-wrap {
  align-items: top;
}
.email-wrap {
  align-items: center;
}
.addres-wrap p,
.email-wrap p {
  font-size: 1.8rem;
  font-weight: 500;
}

.contact-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.map {
  margin-top: 3rem;
}

.send-message-box {
  padding: 4.8rem 0 0;
  position: relative;
}

.send-message-subtitle {
  font-size: 3rem;
  color: #333333;
  margin-top: 0;
  margin-bottom: 4.8rem;
}

.name-label,
.email-label,
.message-label {
  display: block;
  font-size: 1.8rem;
  color: #505050;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.name-input,
.email-input {
  width: 100%;
  padding: 1.2rem;
  color: inherit;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 0.7rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 3.2rem;
}

.message-input {
  width: 100%;
  height: 27rem;
  padding: 1.2rem;
  margin: 1rem 0;
  border: 0.1rem solid #ccc;
  border-radius: 0.7rem;
  background-color: white;
  color: inherit;
  overflow-y: auto;
  resize: none;
  box-sizing: border-box;
  line-height: 1.5;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  font-size: 1.8rem;
  font-family: inherit;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.message-input::placeholder {
  padding-top: 10rem;
  padding-bottom: 10rem;
  font-family: inherit;
  font-size: 1.8rem;
}

.submit-btn {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.2rem 3.5rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #8f4b88;
  bottom: 0;
  right: 0;
}

.submit-btn:hover {
  background-color: #a56fa0;
}

.submit-btn-box {
  display: flex;
  justify-content: end;
  margin-top: 0.5rem;
}

/* **************************************** */
/*  Footer */
/* **************************************** */

footer {
  background-color: #f6f6f6;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 1.4rem;
  color: #333333;
}

.social-nav {
  display: flex;
  align-items: center;
}
.face-book {
  text-decoration: none;
  color: #505050;
}

.face-book-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-nav-list {
  list-style: none;
  display: flex;
  /* gap: 4.8rem; */
  align-items: center;
}
.footer-nav-link {
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.4rem;
  color: #333333;
}

.footer-nav-link::before {
  content: "|";
  margin: 0 2.4rem;
}

/* .footer-nav-link.nav-cta:link,
  .footer-nav-link.nav-cta:visited {
    padding: 1rem 2.8rem;
    border-radius: 5px;
    color: #333333;
    background-color: #356bff;
  } */
